<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="/style/authorization/authorization-page.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/form-layout :: formLayout(
         title='Login account',
         action='/auth/login',
         fields=${logFields},
         buttonText='Login in account',
         footerLink='/registration',
         footerText='Haven\'t an account?'
     )}"></div>
</body>
</html>
