<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create account</title>
  <link href="/style/authorization/authorization-page.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/form-layout :: formLayout(
         title='Create account',
         action='/auth/register',
         fields=${regFields},
         buttonText='Create account',
         footerLink='/login',
         footerText='Already have an account?'
     )}"></div>
</body>
</html>