<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
  <link href="/style/authorization/authorization-page.css" rel="stylesheet">

</head>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="header-container">
            <h2 class="header-container__text">Registration</h2>
        </div>
      <form action="/auth/register" method="post">
        <input type="text"     name="name"     placeholder="name" required>
        <input type="email"    name="email"    placeholder="Email" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">Create account</button>
      </form>
      
      <!-- показать ошибку если есть -->
      <div th:if="${error}" th:text="${error}" style="color:red"></div>
        <div class="footer-link-container">
            <span class="footer-link-container__text">Already have an account? <a href="/login" class="footer-link-container__link">Log in</a></span>
        </div>
    </div>
</div>
</body>
</html>