<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>inform</title>
  <link href="/style/authorization/authorization-page.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/form-layout :: formLayout(
         title='Form information about you',
         action='/auth/update',
         fields=${infoFields},
         buttonText='Confirm',
         footerLink='/account',
         footerText='return to account'
     )}"></div>
</body>
</html>
