.user-account__header {
    display: flex;
    flex-direction: column;

    padding: 5rem 0;
    background-color: var(--gray-color);

    &.icon-list {
        justify-content: flex-end;

    }

    &.user-name {
        text-align: center;
    }
}

.user-account__data {
    padding: 20rem 0;
    background-color: var(--light-gray);

    position: relative;
}

.user-logo {
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 3px #000 solid;

    position: absolute;
}

