.footer {
    padding: 10rem 0 5rem;
    background-color: var(--gray-color);
}

.footer-block {
    margin: 0 auto 0 auto;
    max-width: 100rem;
}

.footer__divider {
    margin-bottom: 10px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}
