.hero {
    height: 100vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;

    position: relative;
    /* 1. Задаем z-index родителю, чтобы создать изолированный контекст наложения */
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        /* 2. Ставим -1. Теперь слой с размытием будет НАД фоновой картинкой, но ПОД контентом */
        z-index: -1;
        backdrop-filter: blur(12px);
        /* 3. Опечатка: тут у вас был 1px. Сделал 12px, иначе в Safari размытия почти не будет видно */
        -webkit-backdrop-filter: blur(12px);
    }
}

/* 4. Обязательно поднимаем контейнер с текстом и кнопкой! */
.hero .container {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 10rem;
    font-weight: 800;
    color: var(--dark-gray);

    text-transform: uppercase;
    letter-spacing: 1.1;
    filter: drop-shadow(0 4px 40px rgba(255, 255, 255, 1));

    text-align: center;

    padding-top: 15rem;
}

.hero-link {
    display: inline-flex;
    font-size: 2rem;
    color: var(--light);
    justify-content: center;
}

.hero-footer {
    text-align: center;
    margin-top: 15rem;
}

  