.section {
    padding: 10rem 0;
}

.section--light {
    background-color: var(--light-gray);
    color: var(--primary);
}

.section--dark {
    background-color: var(--dark-gray);
    color: var(--light);
}