<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="book-card(book)" class="book-сard">
        <img th:src="${book.img}" th:alt="${book.title}" class="book-card-img">

        <div class="book-card-body">
            <h3 class="book-card-title" th:text="${book.title}">book title</h3>
            <p class="book-card-author" th:text="${book.author}">author</p>
            <div class="book-card-stars">
                ★★★★★
                <span class="book-card__rating-count" th:text="${book.reviews}">25.111</span>
            </div>
        </div>
    </div>
</html>