<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer" class="footer">
        <div class="container">
    
            <div class="footer-block">
            
            <hr class="footer__divider">
            
            <div class="footer__bottom">
                <span class="footer__bottom-info">© 2026 Bohdan Savchuk 77363</span>
                <span class="footer__bottom-role">Junior Frontend & Python Developer</span>
            </div>
            
            <div class="footer__bottom">
                <span class="footer__bottom-info">© 2026 Oleksabdr Paduch 77277</span>
                <span class="footer__bottom-role">Junior Frontend & Python Developer</span>
            </div>
            
            </div>
        
        </div>
    </footer>
</html>