<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="formLayout(title, action, fields, buttonText, footerLink, footerText)">
  <div class="page-wrapper">
    <div class="container">
      <div class="header-container__text" th:text="${title}">title</div>
      <form th:action="${action}" method="post" enctype="multipart/form-data" class="form-container__form">
        <div th:each="field : ${fields}" class="form-container__input-wrapper">
          <input th:type="${field.type}"
                 th:name="${field.name}"
                 th:placeholder="${field.placeholder}"
                 th:required="${field.required ? 'required' : ''}"
                 class="form-container__input">
        </div>
        <div class="form-container__button-wrapper">
          <button type="submit" class="form-container__button" th:text="${buttonText}">Submit</button>
        </div>
      </form>
      <div th:if="${error}" th:text="${error}" style="color:red"></div>
      <div class="footer-link-container">
        <span class="footer-link-container__text">
          <span th:text="${footerText}">Text</span>
          <a th:href="${footerLink}" class="footer-link-container__link">Link</a>
        </span>
      </div>
    </div>
  </div>
</div>
