<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="header" class="header">
        <a th:href="@{/}" class="header-logo">
            <img class="header-logo-img" th:src="@{/images/logo.svg}" alt="VistulaBook logo">
            <span class="header-logo-text">Vistula Book</span>
        </a>
        
        <nav class="nav">
            <a th:href="@{/}" class="nav-link">Home</a>
            <a th:href="@{/catalog}" class="nav-link">Katalog</a>
            <a th:href="@{/about}" class="nav-link">About</a>
        </nav>
        
        <div class="icon-list">
            <a th:href="@{/}" class="icon-link">
                <svg class="icon-img">
                    <use alt="search" th:href="@{/images/icon-sprite.svg#search}"></use>
                </svg>
            </a>

            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="icon-link">Log In</a>
                <a th:href="@{/registration}" class="icon-link">Sign Up</a>
            </div>

            <a sec:authorize="isAuthenticated()" th:href="@{/account}" class="icon-link">
                <svg class="icon-img">
                    <use alt="account" th:href="@{/images/icon-sprite.svg#account}"></use>
                </svg>
            </a>
        </div>
    </header>
</html>