<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="main">
        <div class="container">

        <section class="user user--profile">

                <div class="user-account-bio">

                    <div class="user-bio__header">
                        <img th:src="@{/images/user-logo.png}" alt="Your logo" class="user-logo">

                        <h2 class="user-name"><span sec:authentication="name">user</span></h2>
                    </div>

                    <dl class="user-bio__data">
                        <div class="bio__data-item">
                            <dt class="bio__data-name">
                                <svg class="bio__data-icon">
                                    <use th:href="@{/images/icon-sprite.svg#search}"></use>
                                </svg>
                                From
                            </dt>
                            <dd class="bio__data-info">Poland</dd>
                        </div>

                        <div class="bio__data-item">
                            <dt class="bio__data-name">
                                <svg class="bio__data-icon">
                                    <use th:href="@{/images/icon-sprite.svg#search}"></use>
                                </svg>
                                Age
                            </dt>
                            <dd class="bio__data-info">18</dd>
                        </div>
                    </dl>

                </div>
        </section>


        <section class="user user--book">

            <h2 class="user-book__title">Readed book</h2>

            <div class="user-account__data">
                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

                <div class="user__book-card">
                    <img src="https://placehold.co/175x250" alt="book.title" class="user__book-card-img">

                    <div class="user__book-card-body">
                        <h3 class="user__book-card-title">book title</h3>
                        <p class="user__book-card-author">author</p>
                        <div class="user__book-card-stars">
                            ★★★★★
                            <span class="user__book-card__rating-count">25.111</span>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        </div>

    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script type="module" th:src="@{/script/script.js}"></script>
</body>

</html>