<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main>
        <section class="section">
            <div class="container">

                <div class="account__header">
                    <h2 class="user-name">Name Surname</h2>
                    <div class="icon-list">
                        <a th:href="@{/favourite}" class="icon-link">
                        <svg class="icon-img">
                            <use th:href="@{/images/icon-sprite.svg#favourite}"></use>
                        </svg>
                        </a>
                    </div>
                </div>

                <div class="account__data">
                    <img th:src="@{/images/user-logo.png}" alt="Your logo" class="user-logo">

                    <div class="user-books"></div>
                </div>
                
            </div>
        </section>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>