<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/head :: head}"></head>

<body>

  <header th:replace="~{fragments/header :: header}"></header>

<main>

  <section class="hero">
    <div class="container">
      <h1 class="hero-title">Welcome to <br> Vistula Books</h1>

      <div class="hero-footer">
        <a th:href="@{/catalog}" class="btn btn--big">
          <svg class="btn-icon">
            <use alt="search" th:href="@{/images/icon-sprite.svg#search}"></use>
          </svg>
          Search book
        </a>
      </div>
    </div>
  </section>


  <section class="section section--light">
    <div class="container">

      <div class="slider">

        <div class="slide-list">
          <div class="slide slide--red active">
            <img th:src="@{/images/slider-book-1.jpg}" alt="slide image" class="slide-img">
            <div class="slide-info">
              <h2 class="slide-title">Slide Title</h2>
              <p class="slide-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Ab ad hic sapiente et similique unde! Perferendis voluptas, aperiam ratione
                libero nobis, in ullam illo, voluptatem unde fugit hic deleniti sequi?</p>
              <a href="#" class="btn btn--orange">Check</a>
            </div>
          </div>

          <div class="slide slide--blue">
            <img th:src="@{/images/slider-book-2.jpg}" alt="slide image" class="slide-img">
            <div class="slide-info">
              <h2 class="slide-title">Slide Title</h2>
              <p class="slide-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Ab ad hic sapiente et similique unde! Perferendis voluptas, aperiam ratione
                libero nobis, in ullam illo, voluptatem unde fugit hic deleniti sequi?</p>
              <a href="#" class="btn btn--orange">Check</a>
            </div>
          </div>

          <div th:replace="~{fragments/slider/slider-arrow :: arrows('slide-prev-arrow', 'slide-next-arrow', '')}"></div>

        </div>

      </div>

      <div class="recommendation">

        <div class="recommendation-item">
          <img src="https://placehold.co/175x250" alt="" class="recommendation-img">

          <div class="recommendation-info">
            <h3 class="recommendation-title">Book Name</h3>
            <p class="recommendation-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <div class="recommendation-footer">
              <a href="#" class="btn btn--orange btn--circle">
                <svg class="btn-icon">
                  <use alt="search" th:href="@{/images/icon-sprite.svg#arrow-right}"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="recommendation-item">
          <img src="https://placehold.co/175x250" alt="" class="recommendation-img">

          <div class="recommendation-info">
            <h3 class="recommendation-title">Book Name</h3>
            <p class="recommendation-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>

            <div class="recommendation-footer">
              <a href="#" class="btn btn--orange btn--circle">
                <svg class="btn-icon">
                  <use alt="search" th:href="@{/images/icon-sprite.svg#arrow-right}"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="recommendation-item">
          <img src="https://placehold.co/175x250" alt="" class="recommendation-img">

          <div class="recommendation-info">
            <h3 class="recommendation-title">Book Name</h3>
            <p class="recommendation-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>

            <div class="recommendation-footer">
              <a href="#" class="btn btn--orange btn--circle">
                <svg class="btn-icon">
                  <use alt="search" th:href="@{/images/icon-sprite.svg#arrow-right}"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="section section--dark">
    <div class="container">

      <div class="book-list">
        <h2 class="book-list-title">Book list title</h2>

        <div class="book-slider">

          <div th:replace="~{fragments/slider/slider-arrow :: arrows('book-prev', 'book-next', 'arrows--book')}"></div>

          <div class="book-slider-track-wrapper">
            <div class="book-slider-track" id="track">

<!--              <div th:each="book : ${books}" class="swiper-slide">-->
<!--                <div th:replace="~{fragments/book-card :: book-card(book=${book}})}"></div>-->
<!--              </div>-->

            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

</main>

  <footer th:replace="~{fragments/footer :: footer}"></footer>

<script type="module" th:src="@{/script/script.js}"></script>

</body>
</html>