<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books website</title>
    <link rel="stylesheet" href="/Project-77363-77277/statict-77363-77277/static/style/style.css">
</head>
<body>
    <header class="header">

        <div class="header-img">
            <img src="/Project-77363-77277/statict-77363-77277/static/images/Magic%20Books.svg" alt="Magic Books logo">
        </div>

        <nav class="header-nav">
            <a href="#" class="header-nav-link header-item">Home</a>
            <a href="#" class="header-nav-link header-item">Promotions</a>
            <a href="#" class="header-nav-link header-item">Books</a>
            <a href="#" class="header-nav-link header-item">Ebooks</a>
            <a href="#" class="header-nav-link header-item">Audiobooks</a>
            <a href="#" class="header-nav-link header-item">Podcasts</a>
            <a href="#" class="header-nav-link header-item">Games</a>
        </nav>

        <div class="header-icon-list">
            <a href="#" class="header-icon-link header-item"><img src="/Project-77363-77277/statict-77363-77277/static/images/search.svg" alt="search"></a>
            <a href="#" class="header-icon-link header-item"><img src="/Project-77363-77277/statict-77363-77277/static/images/buy.svg" alt="shopping cart"></a>
            <a href="#" class="header-icon-link header-item"><img src="/Project-77363-77277/statict-77363-77277/static/images/person.svg" alt="account"></a>
        </div>

    </header>
      <img src="/Project-77363-77277/statict-77363-77277/static/images/Banner%20website%20(1).png" alt="">
    

    {% block content %}
    
    {% endblock %}
    

    <section class="book-shelf">
        <h2 class="book-shelf__title">best seller</h2>

        <div class="slider">
            <img class="slider__img" src="/Project-77363-77277/statict-77363-77277/static/images/419CqGgAdZL._SY445_SX342_%201.png" alt="">
            <img class="slider__img" src="/Project-77363-77277/statict-77363-77277/static/images/419JCm3Tr+L._SY445_SX342_%201.png" alt="">
            <img class="slider__img" src="/Project-77363-77277/statict-77363-77277/static/images/51UmNg33hCL._SY445_SX342_%201.png" alt="">
            <img class="slider__img" src="/Project-77363-77277/statict-77363-77277/static/images/81+efMYN9wL._SY522_%201.png" alt="">
            <img class="slider__img" src="/Project-77363-77277/statict-77363-77277/static/images/81AHTyq2wVL._SY522_%201.png" alt="">
            <img class="slider__img" src="/Project-77363-77277/statict-77363-77277/static/images/91UN+1U66JL._SY522_%201.png" alt="">
        </div>
    </section>

</body>
</html>